{% extends 'base.html.twig' %}

{% block title %}Lista de Categorias{% endblock %}

{% block body %}
{% include "partials/header.html.twig" %}
<div class="container">
  <h2>Lista de todas las categorias</h2>
  {% for message in app.flashes('success') %}
  <div class="alert alert-success">
    {{ message }}
  </div>
  {% endfor %}
  <div class="d-flex justify-content-end">
    <a href="{{ path('category.create') }}" class="btn btn-primary">Crear Categoria</a>
  </div>
  {% if categories %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Fecha de Creacion</th>
        <th>Fecha de Ultima Modificación</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for category in categories %}
      <tr>
        <td>{{ category.id }}</td>
        <td>
          <a href="{{ path('category.show',{id: category.id}) }}">{{ category.name }}</a>
        </td>
        <td>{{ category.createdAt|date("d/M/Y H:i:s") }}</td>
        <td>{{ category.updatedAt|date("d/M/Y H:i:s") }}</td>
        <td>
          <a href="{{ path('category.edit',{id: category.id}) }}" class="btn btn-secondary">Modificar</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <p>No hay categorias registrados, por favor ingresa una categoria nueva en el boton Crear Categoria</p>
  {% endif %}
</div>
{% endblock %}